# Virtual environment info
.python-version

# Build artifacts
build/
dist/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Test-related
*.pytest_cache/

# IDEs/editors
.vscode/
.idea/

# OS stuff
.DS_Store
Thumbs.db

